<?xml version="1.0" ?>
<robot name="max" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <gazebo reference="fl_wheel_link">
    <mu1>100000000000000.0</mu1>
    <mu2>100000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="fr_wheel_link">
    <mu1>100000000000000.0</mu1>
    <mu2>100000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="rl_wheel_link">
    <mu1>100000000000000.0</mu1>
    <mu2>100000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="rr_wheel_link">
    <mu1>100000000000000.0</mu1>
    <mu2>100000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>
</robot>
