<?xml version="1.0" ?>
<robot name="max" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <gazebo>
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find max_controller)/config/max_controller.yaml</parameters>
      </plugin>
    </xacro:if>
    
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <robot_param>robot_description</robot_param>
        <robot_param_node>/robot_state_publisher</robot_param_node>
        <parameters>$(find max_controller)/config/max_controller.yaml</parameters>
      </plugin>
    </xacro:unless>
    
  </gazebo>
  
  <transmission name="fl_transmission">
    <plugin>transmission_interface/SimpleTransmission</plugin>
    <joint name="fl_joint" role="joint_fl">
      <mechanical_reduction>1.0</mechanical_reduction>
    </joint>
    <actuator name="fl_motor" role="actuator_fl"/>
  </transmission>

  <transmission name="fr_transmission">
    <plugin>transmission_interface/SimpleTransmission</plugin>
    <joint name="fr_joint" role="joint_fr">
      <mechanical_reduction>1.0</mechanical_reduction>
    </joint>
    <actuator name="fr_motor" role="actuator_fr"/>
  </transmission>

  <transmission name="rl_transmission">
    <plugin>transmission_interface/SimpleTransmission</plugin>
    <joint name="rl_joint" role="joint_rl">
      <mechanical_reduction>1.0</mechanical_reduction>
    </joint>
    <actuator name="rl_motor" role="actuator_rl"/>
  </transmission>

  <transmission name="rr_transmission">
    <plugin>transmission_interface/SimpleTransmission</plugin>
    <joint name="rr_joint" role="joint_rr">
      <mechanical_reduction>1.0</mechanical_reduction>
    </joint>
    <actuator name="rr_motor" role="actuator_rr"/>
  </transmission>
</robot>